/* custom */
$main: #808080;
$dark: #333333;
$light:#ffffff;
$font-icon:  "FontAwesome";
$main_border:1px solid #e5e5e5;
@import "font-awesome";


@mixin pos-transition($number) {
	-webkit-transition: all $number ease-in;
	-moz-transition: all $number ease-in;
	-ms-transition: all $number ease-in;
	-o-transition: all $number ease-in;
	transition: all $number ease-in;
}
@mixin pos-transform($number) {
	-moz-transform: scale3d($number,$number,$number);
	-webkit-transform: scale3d($number,$number,$number);
	-o-transform: scale3d($number,$number,$number);
	-ms-transform: scale3d($number,$number,$number);
	transform: scale3d($number,$number,$number);
}
@function get1024-vw($target) {
  // 1 vw is equal to 1% of the viewport width
  $vw-context: (1024 * .01) * 1px; // 1% viewport width
  @return ($target/$vw-context) * 1vw;
}
@function get767-vw($target) {
  // 1 vw is equal to 1% of the viewport width
  $vw-context: (767 * .01) * 1px; // 1% viewport width
  @return ($target/$vw-context) * 1vw;
}
@function get480-vw($target) {
  // 1 vw is equal to 1% of the viewport width
  $vw-context: (480 * .01) * 1px; // 1% viewport width
  @return ($target/$vw-context) * 1vw;
}
@mixin placeholder {
  &::-moz-placeholder { @content }
  &::-webkit-input-placeholder { @content }
  &:-ms-input-placeholder { @content }
}






  input:focus, button:focus, select:focus, textarea:focus {
  text-decoration: none !important;
  box-shadow: none !important;
  outline:0 !important;
}

a {
  &:hover, &:focus {
    outline: 0 !important;
    box-shadow: none !important;
   text-decoration: none;
  }
}
.btn-default, .btn {
  &:hover, &:focus, &:active, &.active {
    outline: 0 !important;
    text-decoration: none !important;
    box-shadow: none !important;
  }
}
.btn-secondary, .btn-tertiary ,.btn-primary{
    color:$light;
    background-color:#333333;
    border-color: transparent;
	box-shadow:none;
}
.btn-secondary:hover, .btn-tertiary:hover,.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
    color: $light;
    background-color: $main;
    border-color: transparent;
}
a {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: none;
}


button {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

/* edit theme */
* {
	&:focus {
		outline:none !important;
	}
}
img {
	max-width:100%;
	margin:auto;
	height:auto;
}
ol, ul, dl {
    margin: 0;
	padding:0;
}
ul {
  li {
    list-style-type: none;
  }
}
i, cite, em, var, address, dfn {
    font-style: normal;
}
 h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin:0;
	padding:0;
}
body{
	font-family: 'Nunito Sans', sans-serif;
	font-size:13px;
	background:$light;
}
@media (min-width:1200px) {
	.container-fluid {
		padding-left:80px;
		padding-right:80px;
	}
	.container {
		max-width: 1170px;
		padding-left:0;
		padding-right:0;
	}
}
.container {
	width:auto;
}
main {
	overflow:hidden;
}

/* ===== edit theme ======== */
@media(min-width: 992px){
	#header .header-nav.scroll-menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1001;
	    background: rgba(255, 255, 255, 0.7);
		border:none;
        padding-top: 15px;
    padding-bottom: 10px;
		@include pos-transition(300ms);
		-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.4);
		-moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.4);
		box-shadow: 0 8px 6px -6px rgba(0,0,0,0.4);
		&:hover {
			background: rgba(255, 255, 255, 1);
			@include pos-transition(300ms);
		}
	}
}
#header {
	@media(max-width: 767px){
		text-align:center;
		background:transparent;
	}
	.header_logo  {
		a{
			.logo{
				float: left;
        padding-top: 6px;
			}
		}
		img {
			margin:0;
			@media(max-width: 991px){
				margin:auto;
				margin-bottom: 20px;
			}
		}
	}
	.header-nav {
		background:#fff;
		max-height:none;
		border:none;
		padding:30px 0;
		padding-left:3.9%;
		padding-right:3.9%;
    position: relative;
    z-index: 9;
		@media(max-width: 991px){
			text-align:center;
		}
	}
	.header-top {
		padding:30px;
		@media(max-width: 767px){
			background:transparent;
		}
		@media(min-width: 992px){
			.row {
				margin:0;
				overflow: hidden;
				display: table;
				vertical-align: middle;
				width: 100%;
				.col {
					padding:0;
					display: table-cell;
					vertical-align: middle;
					float: none;
					overflow: hidden;
				}
			}

		}

	}
	.header-bottom {
		position:relative;
		@media(min-width: 992px){
			border-top:$main_border;
			border-bottom:$main_border;
		}
		margin-bottom:30px;
	}
}
/* selector */
.currency-selector-wrapper{
  border-top:1px solid #3c3c3c;
}
.selector-block {
	float:left;
	padding:0;
	margin-top:15px;
  width: 100%;
	@media (max-width:991px ) {
		display: inline-block;
		float: none;
		margin: 0;
		margin-bottom: 15px;
	}
	@media (max-width:360px ) {
		margin-bottom:10px;

	}
	@media (min-width:992px ) {
		&:last-child {
			border:0;
		}
	}
	@media (min-width:992px ) {
		&.language-selector-wrapper{
			padding-right:0;
		}
	}

	.selector-label {
    display: block;
    line-height: 24px;
    color: #6b6b6b;
    font-size: 16px;

	}
	.localiz_block {
		margin:0 !important;
		display:inline-block;
    .btn-unstyle{
      display: none;
    }
    ul{
      li{
        padding: 0px;
        padding-left: 10px;
        a.dropdown-item{
          color: #6b6b6b;
          font-size: 14px;
          line-height: 20px;
          padding: 0px;
          &:hover{
            color: #fff;
          }
          img{
            margin-right: 10px;
          }
        }
      }
    }
		&:hover {
			button,.current-block {
				color:$main;
				@include pos-transition(300ms);
				.expand-more {
					color:$main;
					@include pos-transition(300ms);
				}
			}
		}
		button,.current-block {
		    font-weight: 400;
			padding: 0 0 0 5px;
			color:#999999;
			text-shadow: none;
			cursor: pointer;
			line-height:1;
			font-size:12px;
			display: inline-block;
			border:0;
			text-transform:capitalize;
			@include pos-transition(300ms);
			.expand-more {
				color:#999999;
				@include pos-transition(300ms);
			}
			img {
				margin-right:5px;
			}

		}
		.dropdown-menu {
			margin:0;
			top:28px;
			right: 0;
			left:auto;
			min-width:120px;
			overflow:hidden;
			padding:10px;
			background:$light;
			border-radius: 0;
			border:$main_border;
			border-top:2px solid $main;
			li {
				padding:0 ;
				@include pos-transition(300ms);
				.dropdown-item {
					padding:0 10px;
					color: #636363;
					line-height: 22px;
					font-size: 12px;
					img {
						display: inline-block;
						margin-right: 5px;
						vertical-align: -2px;
					}
				}
				&.current .dropdown-item{
					color:$light;
					background:$main;
					@include pos-transition(300ms);
				}
				&:hover .dropdown-item{
					color:$light;
					background:$main;
					@include pos-transition(300ms);
				}
			}
		}
	}
}


/* end selector *

/* module megamenu */
.pt_custommenu {
    position: relative;
    text-align: center;
    margin-top: -5px;
	.pt_menu {
		display: inline-block;
		.parentMenu a {
		    display: block;
			line-height:50px;
			padding:0px 25px;
			@media (max-width:1199px) {

			}
			font-size: 16px;
			font-weight: 400;
			color:#000;
			background: transparent;
			text-transform: capitalize;
			position: relative;
      letter-spacing:0.05em;
			i {
				font-size: 11px;
				padding: 0 0 0 7px;
				display: none;
				&:before {
					content: "\f107";
					font-family: "FontAwesome";
				}
			}
		}
		&.act .parentMenu a,&.active .parentMenu a {
			color:#1a1a1a !important;
		}
	}
}

.pt_custommenu_mobile {
    text-align: left;
    position: relative;
    clear: both;
	.navbar {
		min-height:40px;
		margin: 0;
		border: 0;
		position: relative;
		overflow: hidden;
		background: #333333;
		padding: 0 15px;
		overflow: hidden;
		cursor:pointer;
		.navbar-inner .btn-navbar {
			display: block;
			overflow: hidden;
			margin: 0;
			color: #fff;
			font-size: 16px;
			font-weight: 600;
			letter-spacing: 0.025em;
			text-transform: uppercase;
			line-height: 40px;
			pointer-events: none;
			&:after {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				width: 40px;
				height: 40px;
				text-align: center;
				color: #fff;
				font-size: 15px;
				font-weight: 400;
				font-family: "FontAwesome";
				cursor:pointer;
				pointer-events: all;
			}
		}
		.navbar-inner.navbar-inactive .btn-navbar:after {
			content: "\f03a";
		}
		.navbar-inner.navbar-active .btn-navbar:after {
			content: "\f03a";
		}
	}
	@media (min-width: 992px) {
		display: none;
	}
}


@media (max-width:1199px) {
  #header .header-nav {
    padding-left: 10px;
    padding-right: 10px;
  }
  .pt_custommenu .pt_menu .parentMenu a{
    padding: 0 15px;
  }
}

@media (max-width:991px) {
  #header .header-nav{
    margin-bottom: 0px;
  }
  .nav-container{
    display: none;
  }
  #header .header_logo a .logo{
    float: none;
  }
  .col-right{
    text-align: center;
    float: none;
    margin-top:25px;
    display: inline-block;
  }
}