/* custom */
$main: #808080;
$dark: #333333;
$light:#ffffff;
$font-icon:  "FontAwesome";
$main_border:1px solid #e5e5e5;
@import "font-awesome";


@mixin pos-transition($number) {
	-webkit-transition: all $number ease-in;
	-moz-transition: all $number ease-in;
	-ms-transition: all $number ease-in;
	-o-transition: all $number ease-in;
	transition: all $number ease-in;
}
@mixin pos-transform($number) {
	-moz-transform: scale3d($number,$number,$number);
	-webkit-transform: scale3d($number,$number,$number);
	-o-transform: scale3d($number,$number,$number);
	-ms-transform: scale3d($number,$number,$number);
	transform: scale3d($number,$number,$number);
}
@function get1024-vw($target) {
  // 1 vw is equal to 1% of the viewport width
  $vw-context: (1024 * .01) * 1px; // 1% viewport width
  @return ($target/$vw-context) * 1vw;
}
@function get767-vw($target) {
  // 1 vw is equal to 1% of the viewport width
  $vw-context: (767 * .01) * 1px; // 1% viewport width
  @return ($target/$vw-context) * 1vw;
}
@function get480-vw($target) {
  // 1 vw is equal to 1% of the viewport width
  $vw-context: (480 * .01) * 1px; // 1% viewport width
  @return ($target/$vw-context) * 1vw;
}
@mixin placeholder {
  &::-moz-placeholder { @content }
  &::-webkit-input-placeholder { @content }
  &:-ms-input-placeholder { @content }
}






  input:focus, button:focus, select:focus, textarea:focus {
  text-decoration: none !important;
  box-shadow: none !important;
  outline:0 !important;
}

a {
  &:hover, &:focus {
    outline: 0 !important;
    box-shadow: none !important;
   text-decoration: none;
  }
}
.btn-default, .btn {
  &:hover, &:focus, &:active, &.active {
    outline: 0 !important;
    text-decoration: none !important;
    box-shadow: none !important;
  }
}
.btn-secondary, .btn-tertiary ,.btn-primary{
    color:$light;
    background-color:#333333;
    border-color: transparent;
	box-shadow:none;
}
.btn-secondary:hover, .btn-tertiary:hover,.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
    color: $light;
    background-color: $main;
    border-color: transparent;
}
a {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: none;
}


button {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

/* edit theme */
* {
	&:focus {
		outline:none !important;
	}
}
img {
	max-width:100%;
	margin:auto;
	height:auto;
}
ol, ul, dl {
    margin: 0;
	padding:0;
}
i, cite, em, var, address, dfn {
    font-style: normal;
}
 h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin:0;
	padding:0;
}
body{
	font-family: 'Nunito Sans', sans-serif;
	font-size:13px;
	background:$light;
}
@media (min-width:1200px) {
	.container-fluid {
		padding-left:80px;
		padding-right:80px;
	}
	.container {
		max-width: 1170px;
		padding-left:0;
		padding-right:0;
	}
}
.container {
	width:auto;
}
main {
	overflow:hidden;
}

/* ===== edit theme ======== */
@media(min-width: 992px){
	#header .header-nav.scroll-menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1001;
	    background: rgba(255, 255, 255, 0.7);
		border:none;
        padding-top: 15px;
    padding-bottom: 10px;
		@include pos-transition(300ms);
		-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.4);
		-moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.4);
		box-shadow: 0 8px 6px -6px rgba(0,0,0,0.4);
		&:hover {
			background: rgba(255, 255, 255, 1);
			@include pos-transition(300ms);
		}
	}
}
#header {
	@media(max-width: 767px){
		text-align:center;
		background:transparent;
	}
	.header_logo  {
		a{
			.logo{
				float: left;
        padding-top: 6px;
			}
		}
		img {
			margin:0;
			@media(max-width: 991px){
				margin:auto;
				margin-bottom: 20px;
			}
		}
	}
	.header-nav {
		background:#fff;
		max-height:none;
		border:none;
		padding:30px 0;
		padding-left:3.9%;
		padding-right:3.9%;
    position: relative;
    z-index: 9;
		@media(max-width: 991px){
			text-align:center;
		}
	}
	.header-top {
		padding:30px;
		@media(max-width: 767px){
			background:transparent;
		}
		@media(min-width: 992px){
			.row {
				margin:0;
				overflow: hidden;
				display: table;
				vertical-align: middle;
				width: 100%;
				.col {
					padding:0;
					display: table-cell;
					vertical-align: middle;
					float: none;
					overflow: hidden;
				}
			}

		}

	}
	.header-bottom {
		position:relative;
		@media(min-width: 992px){
			border-top:$main_border;
			border-bottom:$main_border;
		}
		margin-bottom:30px;
	}
}
/* selector */
.currency-selector-wrapper{
  border-top:1px solid #3c3c3c;
}
.selector-block {
	float:left;
	padding:0;
	margin-top:15px;
  width: 100%;
	@media (max-width:991px ) {
		display: inline-block;
		float: none;
		margin: 0;
		margin-bottom: 15px;
	}
	@media (max-width:360px ) {
		margin-bottom:10px;

	}
	@media (min-width:992px ) {
		&:last-child {
			border:0;
		}
	}
	@media (min-width:992px ) {
		&.language-selector-wrapper{
			padding-right:0;
		}
	}

	.selector-label {
    display: block;
    line-height: 24px;
    color: #6b6b6b;
    font-size: 16px;

	}
	.localiz_block {
		margin:0 !important;
		display:inline-block;
    .btn-unstyle{
      display: none;
    }
    ul{
      li{
        padding: 0px;
        padding-left: 10px;
        a.dropdown-item{
          color: #6b6b6b;
          font-size: 14px;
          line-height: 20px;
          padding: 0px;
          &:hover{
            color: #fff;
          }
          img{
            margin-right: 10px;
          }
        }
      }
    }
		&:hover {
			button,.current-block {
				color:$main;
				@include pos-transition(300ms);
				.expand-more {
					color:$main;
					@include pos-transition(300ms);
				}
			}
		}
		button,.current-block {
		    font-weight: 400;
			padding: 0 0 0 5px;
			color:#999999;
			text-shadow: none;
			cursor: pointer;
			line-height:1;
			font-size:12px;
			display: inline-block;
			border:0;
			text-transform:capitalize;
			@include pos-transition(300ms);
			.expand-more {
				color:#999999;
				@include pos-transition(300ms);
			}
			img {
				margin-right:5px;
			}

		}
		.dropdown-menu {
			margin:0;
			top:28px;
			right: 0;
			left:auto;
			min-width:120px;
			overflow:hidden;
			padding:10px;
			background:$light;
			border-radius: 0;
			border:$main_border;
			border-top:2px solid $main;
			li {
				padding:0 ;
				@include pos-transition(300ms);
				.dropdown-item {
					padding:0 10px;
					color: #636363;
					line-height: 22px;
					font-size: 12px;
					img {
						display: inline-block;
						margin-right: 5px;
						vertical-align: -2px;
					}
				}
				&.current .dropdown-item{
					color:$light;
					background:$main;
					@include pos-transition(300ms);
				}
				&:hover .dropdown-item{
					color:$light;
					background:$main;
					@include pos-transition(300ms);
				}
			}
		}
	}
}


/* end selector *

/* module megamenu */
.pt_custommenu {
    position: relative;
    text-align: center;
    margin-top: -5px;
	.pt_menu {
		display: inline-block;
		.parentMenu a {
		    display: block;
			line-height:50px;
			padding:0px 25px;
			@media (max-width:1199px) {

			}
			font-size: 16px;
			font-weight: 400;
			color:#000;
			background: transparent;
			text-transform: capitalize;
			position: relative;
      letter-spacing:0.05em;
			i {
				font-size: 11px;
				padding: 0 0 0 7px;
				display: none;
				&:before {
					content: "\f107";
					font-family: "FontAwesome";
				}
			}
		}
		&.act .parentMenu a,&.active .parentMenu a {
			color:#1a1a1a !important;
		}
		.popup {
			position: absolute;
			box-shadow: 0px 3px 9.3px 0.7px rgba(0, 0, 0, 0.15);
			background:#1a1a1a;
			padding:30px 20px;
			z-index:10;
			text-align:left;
			.cms_mega a img {
				-webkit-transition: all 1700ms ease;
				-moz-transition: all 1700ms ease;
				-o-transition: all 1700ms ease;
				transition: all 1700ms ease;
			}
			.cms_mega a:hover img {
				-webkit-transform: scale(1.07);
				-moz-transform: scale(1.07);
				-ms-transform: scale(1.07);
				-o-transform: scale(1.07);
				transform: scale(1.07);
			}
			.block1 {
				overflow: hidden;
				float: left;
				.column {
					float: left;
					width: 200px;
					padding-right:20px;
					margin-bottom: -99999px;
					padding-bottom: 99999px;
					&.last {
						padding-right:0;
					}
					.itemMenuName {
						color:#fff;
						line-height: 35px;
						text-transform: uppercase;
						font-weight: 700;
						font-size: 16px;
						display:block;
            letter-spacing: 0.05em;
						&:hover {
							color:#aaaaaa;
						}
					}
					.itemSubMenu {
						padding: 0;
						.itemMenuName {
							color:#aaaaaa;
							text-transform: capitalize;
							line-height: 30px;
							font-weight: 400;
							font-size: 14px;
							&:hover {
								color:#fff;
							}
						}
					}
				}
			}
		}
	}

}

.pt_custommenu_mobile {
    text-align: left;
    position: relative;
    clear: both;
	.navbar {
		min-height:40px;
		margin: 0;
		border: 0;
		position: relative;
		overflow: hidden;
		background: #333333;
		padding: 0 15px;
		overflow: hidden;
		cursor:pointer;
		.navbar-inner .btn-navbar {
			display: block;
			overflow: hidden;
			margin: 0;
			color: #fff;
			font-size: 16px;
			font-weight: 600;
			letter-spacing: 0.025em;
			text-transform: uppercase;
			line-height: 40px;
			pointer-events: none;
			&:after {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				width: 40px;
				height: 40px;
				text-align: center;
				color: #fff;
				font-size: 15px;
				font-weight: 400;
				font-family: "FontAwesome";
				cursor:pointer;
				pointer-events: all;
			}
		}
		.navbar-inner.navbar-inactive .btn-navbar:after {
			content: "\f03a";
		}
		.navbar-inner.navbar-active .btn-navbar:after {
			content: "\f03a";
		}
	}
	@media (min-width: 992px) {
		display: none;
	}
}

ul#pt_custommenu_itemmobile {
    overflow: hidden;
    margin: 0 0 15px;
    padding: 0;
	li {
		cursor: pointer;
		list-style-type: none;
		margin: 0;
		padding:0 10px;
		display: block;
		position: relative;
		border-bottom:1px solid rgba(255,255,255,0.1);
		&:last-child {
			border:0;
		}
		a {
			line-height: 45px;
			color:#fff;
			text-transform: capitalize;
			text-decoration: none;
			font-size: 15px;
			font-weight: 400;
			&:hover {
				color: $main;
			}
		}
		.grower {
			position: absolute;
			top: 0;
			right: 0;
			a:after {
				display: block;
				width: 45px;
				height:45px;
				text-align: center;
				color: #fff;
				font-size: 13px;
				font-weight: 400;
				font-family: "FontAwesome";
				 content: "\f055";
			}
			&.active a:after {
				content: "\f056";
			}
		}

	}
}

/*display_top*/
.display_top{
	float: right;
	position: relative;
	.setting_top {
		float: right;
    z-index:2;
    cursor: pointer;
    padding-top: 6px;
		.icon {
			width: 20px;
			height: 14px;
			position: relative;
			display: inline-block;
			background: url(../img/bg-settings.png) no-repeat;
			font-size: 0px;
			.pe-7s-config{
				display: none;
			}
		}
    .content-setting{
      padding: 20px;
      margin: 0;
      right: 0;
      left: auto;
      top: 37px;
      background: #1a1a1a;
      border: none;
      box-shadow: 5px 5px 7px 0px rgba(41, 41, 41, 0.05);
      min-width: 250px;
      .user-info-block{
        display: inline-block;
        position: relative;
        border-bottom: 1px solid #3c3c3c;
        padding-bottom: 20px;
        width: 100%;
        a{
          display: block;
          line-height: 24px;
          color: #6b6b6b;
          &:hover{
            color:#fff;
          }
        }
      }
    }
	}
}


/* end module megamenu */
/* module vegamenu */
.navleft-container {
	position:relative;
	z-index:9;
	.pt_vmegamenu_title{
		position: relative;
		cursor: pointer;
		padding:15px 20px;
		background:$main;
		&:before {
			display:inline-block;
			content: "\f0c9";
			font-family: $font-icon;
			font-size: 30px;
			font-weight: normal;
			line-height: 1;
			margin-right: 10px;
			color:$light;
			height:40px;
			line-height:40px;
		}
		&:after {
			display: block;
			content: "\f107";
			color: #fff;
			position: absolute;
			top: 14px;
			right: 20px;
			line-height: 40px;
			font-family: "FontAwesome";
			font-size: 21px;
			font-weight: 400;
		}
		h2{
			margin: 0;
			color: $light;
			padding: 0;
			text-transform: capitalize;
			font-size: 20px;
			font-weight: 600;
			overflow:hidden;
			line-height:25px;
			@include pos-transition(300ms);
			span {
				text-transform: uppercase;
				font-size: 11px;
				display:block;
				line-height:15px;
			}

			i {display:none; }
		}
	}
	.pt_vmegamenu{
		display:none;
		width: 100%;
		background: #fff;
		border:$main_border;
		border-top:none;
		padding:0;
		position: absolute;
		top: 100%;
		left: 0;
		.pt_menu {
			position: relative;
			&:hover .wrap-popup{
				opacity:1;
			}
			&:not(.noSub):after{
				display: block;
				position: absolute;
				top: 0;
				right: 15px;
				line-height: 59px;
				content: "\f18e";
				color: #a2a2a2;
				font-size: 17px;
				font-weight: 400;
				font-family: "FontAwesome";
				background:transparent;
				@include pos-transition(300ms);
			}

			&.active .parentMenu a,&:hover:not(.noSub):after{
				background: #f7f7f7;

			}
			&:last-child .parentMenu a {
				border-bottom:0;
			}
			.parentMenu a{
				position:relative;
				display: block;
				overflow: hidden;
				line-height:59px;
				text-transform: capitalize;
				word-wrap: break-word;
				background:$light;
				color:#444444;
				padding: 0;
				border-bottom:$main_border;
				@media (max-width:1199px) {
				}
				font {
					size: 14px;
					font-weight:600;

				}
				.cate-thumb{
					float: left;
					width:60px;
					margin-right: 10px;
					padding:0;
					border-right:$main_border;
					@media (max-width:1199px) {
						display:none;
					}
				}
				span:not(.cate-thumb){
					padding-left:10px;
				}
				&.view_more {
					&:before {
						display:none;
					}
					cursor:pointer;
					&:hover {
						color:$main;
						@include pos-transition(300ms);
					}
					i {
						margin-right: 5px;
						font-size: 20px;
					}
				}
			}

			&.act, &.active{
				.parentMenu a{
					background: #f7f7f7;
					@include pos-transition(300ms);
				}
			}
			.wrap-popup{
				position: absolute;
				top: 0;
				left: 100%;
				z-index:1;
				opacity:0;
				width: 200px * 4 + 60px;
				.popup{
					display: none;
					position: absolute;
					top: 0 !important;
					left: 0 !important;
					width: auto !important;
					border:$main_border;
					border-top:2px solid $main;
					.box-popup{
						background: #fff;
						padding: 20px;
						float: left;
						overflow: hidden;
						.column{
							width: 200px;
							padding:0 15px;
							margin-bottom: -99999px;
							padding-bottom: 99999px;
							.itemMenuName{
								color: #3c3c3c;
								line-height: 35px;
								text-transform: uppercase;
								font-weight: 600;
								font-size: 12px;
								display:block;

								&:hover{
									color:$main;
								}
								&.nochild {
								    color: #666;
									text-transform: capitalize;
									font-weight: 400;
									font-size: 12px;
									&:before {
										content: "\f096";
										display: block;
										line-height: 35px;
										float: left;
										padding: 0 7px 0 1px;
										font-family: "FontAwesome";
										font-size: 13px;
										font-weight: 400;
									}
									&:hover {
										color:$main;
									}
								}

							}
							.itemSubMenu{
								padding-bottom:20px;
								.itemMenuName{
								    color: #666;
									text-transform: capitalize;
									font-weight: 400;
									font-size: 12px;
									&:before {
										content: "\f096";
										display: block;
										line-height: 35px;
										float: left;
										padding: 0 7px 0 1px;
										font-family: "FontAwesome";
										font-size: 13px;
										font-weight: 400;
									}
									&:hover{
										color:$main;
									}
									&:after{
										display:none;
									}
								}
							}

						}
						.column.last {
							padding-right:0;
							border:0;

						}
						.column.blockright {
							width:300px;
						}
					}
					.block1 {
						overflow:hidden;
					}
					.block2 {
						display:inline-block;
						width:100%;
						margin-top:20px;
					}
				}
			}
		}


	}
}

/* end module vegamenu */

.blockcart {
	float: right;
	position: relative;
  background: none !important;
  height: 22px !important;
  margin: 0 !important;
  margin-right: 25px !important;
  padding: 7px 0 0 !important;
  z-index:2;
	@media (max-width:767px ) {
		float:none;
		display:inline-block;
	}
	.header {
    margin-top: 0 !important;
		a {
			position: relative;
      display: inline-block;
      width: 22px;
      height: 22px;
      line-height: 22px;
      font-size: 26px;
      color: #1a1a1a !important;
      &:before{
        content: "\e615";
        position: absolute;
        display: block;
        font-family: 'Pe-icon-7-stroke';
        left: 0;
        right: 0;
      }
			.item_txt {
				display:block;
        font-size: 0px;
			}
			.item_count {
				position: absolute;
				bottom:-6px;
				left: 17px;
				display: block;
				overflow: hidden;
				min-width: 19px;
				line-height: 17px;
				font-size: 10px;
				font-weight: 700;
				color: white;
				background: #cc0000;
				text-align: center;
				padding: 2px 3px 0;
				-webkit-border-radius: 100%;
				-moz-border-radius: 100%;
				-ms-border-radius: 100%;
				-o-border-radius: 100%;
				border-radius: 100%;
			}
			.item_total {
				font-size:0px;
				font-weight:600;
			}
		}
	}
	.body {
		margin:0;
		background:#1a1a1a;
		width:355px;
		@media (max-width:479px) {
			width:270px;
		}
		top:37px;
		left: auto;
		right: 0;
		position:absolute;
		display:none;
		z-index:99;
		@media (max-width:767px ) {
			right: 50%;
			-moz-transform: translateX(50%);
			-webkit-transform: translateX(50%);
			-o-transform: translateX(50%);
			-ms-transform: translateX(50%);
			transform: translateX(50%);
		}
    ul{
      padding: 0 20px;
      @media (min-width:992px) {
        max-height: 268px;
        overflow-y: auto;
      }
    }
		ul li {

			padding: 20px 0;
			border-bottom:1px solid #3c3c3c;
			overflow: hidden;
      text-align: left;
			.img_content {
				float: left;
				margin: 0 20px 0 0;
				position: relative;
				.product-quantity {
					position: absolute;
					top: 5px;
					left: 5px;
					min-width: 25px;
					line-height: 25px;
					-webkit-border-radius: 100%;
					-moz-border-radius: 100%;
					border-radius: 100%;
					padding:0;
					text-align: center;
					background: $main;
					color: $light;
					font-size: 14px;
					display:inline-block;
				}
			}
			.right_block {
				overflow: hidden;
				position: relative;
				padding: 0 15px 0 0;
				span {
					font-size:13px;
				}
				.product-name {
					display: block;
					overflow: hidden;
					word-wrap: break-word;
					text-overflow: ellipsis;
					white-space: nowrap;
					color:#fff;
					text-transform: capitalize;
					font-size: 16px;
					line-height: 24px;
					&:hover {
						color:$main;
					}
				}
				.product-price {
					display: block;
					margin: 10px 0 0;
					color:#989898;
				}
				.remove-from-cart {
					display: block;
					position: absolute;
					bottom: 0;
					right: 0;
					color:#989898 !important;
					&:hover {
						color:#333;
					}
				}
				.attributes_content {
					display: block;
					font-size: 16px;
					line-height:20px;
					color: #989898;
					margin: 5px 0 0;
				}
				strong {
					font-weight:400;
				}
			}
		}
		.price_content {
			overflow: hidden;
			padding: 20px 20px 0;

			margin-bottom: 20px;
      .cart-total{
        padding-bottom: 20px;
        border-bottom: 1px solid #3c3c3c;
      }
			.price_inline {
				overflow: hidden;
				line-height: 25px;

				.label {
					float: left;
					font-weight:500;
					color:#fff;
					font-size:16px;
				}
				.value {
					float: right;
					font-weight:500;
					color:#fff;
					font-size:16px;
				}
			}
		}
		.checkout {
			margin-bottom: 20px;
      padding: 0 20px;
			a {
          display: block;
          background: #333333;
          font-weight: bold;
          color: white;
          box-shadow: none;
          display: block;
          padding: 10px 20px;
          font-size: 14px;
          text-transform: uppercase;
          color: #fff !important;
          letter-spacing: 0.05em;
          border: 1px solid #3c3c3c;
				&:hover {
					background:$main;
          border-color: $main;
				}
			}
		}
	}
}
.product-line-grid-body>.product-line-info>.label{
  &:hover{
    color:#1a1a1a;
  }
}
/* module search block */
.block-search  {
  float:right;
  margin-right:15px;
  padding-top:7px;
  .search-icon{
      position: relative;
      display: inline-block;
      margin-right: 0;
      text-align: center;
      cursor: pointer;
      padding-left: 25px;
      color: #323232;
      line-height:24px;
      font-size: 0px;
    &:before{
        content: "\e618";
        font-family: 'Pe-icon-7-stroke';
        position: absolute;
        display: block;
        color: #808080;
        font-size:26px;
        line-height: 24px;
        left: 0;
    }
  }

}

.search_top {
  width: 400px;
  padding: 0;
  background: transparent;
  border: 0;
  right: 0;
  left: auto;
  margin-top:5px;
  box-shadow: 1px 1px 1px rgba(170, 170, 170, 0.72941);
  form {
    width: 100%;
    position: relative;
    overflow: hidden;

    .text_input {
      padding: 10px 40px 10px 15px;
      height: 41px;
      line-height: 30px;
      font-size: 12px;
      color: #fff;
      border: none;
      width: 100%;
      background: #1a1a1a;
    }
    button {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 40px;
      height:40px;
      text-align: center;
      background:#1a1a1a;
      color:#989898;
      line-height: 40px;
      font-size: 14px;
      border: 0;
      padding: 0;
      font-weight: normal;
      line-height: 40px;
      cursor: pointer;
      span{
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
        &:before{
          content: "\e618";
          font-family: 'Pe-icon-7-stroke';
          position: absolute;
          display: block;
          color: #808080;
          font-size: 26px;
          left: 0;
          right: 0;
          margin: 0 auto;
          top: 0;
          bottom: 0;
          line-height: 40px;
        }
      }
      &:hover {
        span{
          &:before{
             color:#fff;
          }
        }

      }
    }
  }

}

	/* style layer cart */
	#blockcart-modal .modal-body {
		background:$light;
		padding: 3.125rem 1.875rem;
	}
	#blockcart-modal .divide-right {
		border-right:$main_border;
		p , strong {
			color:#333333;
			font-size:14px;
			font-weight:600;
		}
	}
	#blockcart-modal .cart-content {
		p ,strong{
			color:#333333;
			font-size:14px;
		}
		strong {
			font-weight:600;
		}
	}
	#blockcart-modal .product-name {
		font-size: 16px;
		margin-bottom: 20px;
		color:#333333;
	}
	#blockcart-modal .modal-header {
		background: $main;
	}
	/* end style layer cart */
#blockcart-modal button.close {
	color:$light;
	opacity:1;
}
#blockcart-modal .cart-content .btn {
    margin-top: 20px;
}
/* end module cart block */

/* module slideshow */

.nivo-html-caption {
    display: none;
}
@-webkit-keyframes myfirst {
    from {width: 0;}
    to {width: 100%;}
  }
  @keyframes myfirst {
    from {width: 0;}
    to {width: 100%;}
  }
  .timethai.pos_hover{
    -webkit-animation-play-state: paused;
    animation-play-state: paused;

}

.pos_bannerslide  .pos-slideshow{
  position: relative;
  margin-bottom:20px;
  &:hover .nivo-directionNav a {
    opacity:1;
    @include pos-transition(300ms);
    &.nivo-prevNav{
      left:0px;
    }
    &.nivo-nextNav{
      right:0px;
    }
  }
}
.pos_bannerslide .pos-slideshow .nivo-directionNav{
  display: none;
}
.pos_bannerslide .pos-slideshow .nivo-directionNav a {
      display: block;
    width:40px;
    height:40px;
    line-height:40px;
    color:#fff;
    background:#c4c4c4;
    text-align: center;
    font-size:0;
    position: absolute;
    z-index: 8;
    cursor: pointer;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity:0;
     -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    i {
      font-size:28px;
      line-height:40px;
    }
    @media (max-width:767px) {
      display: none;
    }
    &:hover{
      background:rgba(51,51,51,1);
    }
    &.nivo-prevNav{
      left:0px;

    }
    &.nivo-nextNav{
      right:0px;

    }
}

.pos_bannerslide  .pos-slideshow{
  position: relative;
  margin-bottom:20px;
  &:hover .nivo-directionNav a {
    opacity:1;
    @include pos-transition(300ms);
    &.nivo-prevNav{
      left:0px;
    }
    &.nivo-nextNav{
      right:0px;
    }
  }
}
.pos_bannerslide .pos-slideshow .nivo-directionNav a{
      display: block;
    width:40px;
    height:40px;
    line-height:40px;
    color:#fff;
    background:#c4c4c4;
    text-align: center;
    font-size:0;
    position: absolute;
    z-index: 8;
    cursor: pointer;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity:0;
     -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    i {
      font-size:28px;
      line-height:40px;
    }
    @media (max-width:767px) {
      display: none;
    }
    &:hover{
      background:rgba(51,51,51,1);
    }
    &.nivo-prevNav{
      left:0px;

    }
    &.nivo-nextNav{
      right:0px;

    }
}
.pos_bannerslide .pos-slideshow .nivo-controlNav {
    position: absolute;
    top: 43%;
    right: 0px;
    text-align: left;
    z-index: 8;
    opacity: 1;
    @media (max-width:1199px) {
      bottom:get1024-vw(20px);
    }

    @media (max-width: 767px) {
      display: none;
    }

    a{
      display:inherit;
      font-size:16px;
      color: #808080;
      margin-bottom:25px;
      text-align:left;
      cursor: pointer;
      position: relative;
      z-index: 8;
      width:auto;
      font-weight: 900;
      padding-right: 30px;
      text-align: right;
      @include pos-transition(300ms);
      &:before{
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        background: #808080;
        right:0px;
        bottom:-10px;
        opacity: 1;
        width: 40px;
      }
      &.active,&:hover{
       color:#1a1a1a;
       padding-right:70px;
       &:before{
        width: 80px;
        transition: all ease-in-out 0.5s;
        background: #1a1a1a;
       }
      }
    }
    a.active{
      padding-right:70px;
    }
}
.pos_bannerslide{
  padding-left: 3.9%;
  padding-right: 3.9%;
}

.banner7-des {

  p {
    margin:0;
  }
}
.desc1{
  position:absolute;
  top:50%;
  z-index:8;
  max-width:100%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  line-height:1;
  text-align:left;
  direction:ltr !important;
  .title1 {
    text-transform: uppercase;
    font-size: 40px;
    z-index: 0;
    width: 100%;
    color: #1a1a1a;
    font-weight: bold;
    margin-bottom:6px;
       animation: rollIn 1s linear alternate;
    -webkit-animation: rollIn 1s linear alternate;
    -moz-animation: rollIn 1s linear alternate;
    letter-spacing: 0.05em;
  }
  .title2{
    text-transform: uppercase;
    font-size: 40px;
    z-index: 0;
    width: 100%;
    color: #1a1a1a;
    font-weight: bold;
    margin: 0;
     letter-spacing: 0.05em;
        animation: rollIn 1s linear alternate;
    -webkit-animation: rollIn 1s linear alternate;
    -moz-animation: rollIn 1s linear alternate;
  }
  .title3{
        color: #676767;
        font-size: 26px;
        z-index: 3;
        position: relative;
        font-weight: 500;
        margin:30px 0px;
         letter-spacing: 0.05em;
        animation: slideInDown 2s linear alternate;
    -webkit-animation: slideInDown 2s linear alternate;
    -moz-animation: slideInDown 2s linear alternate;
  }
  .readmore  {
       animation: slideInUp 0.5s linear alternate;
    -webkit-animation: slideInUp 0.5s linear alternate;
    -moz-animation: slideInUp 0.5s linear alternate;
    display:inline-block;
    a {
      @include pos-transition(300ms);
      text-transform: inherit;
      color: #fff;
      font-size: 18px;
      display: inline-block;
      border: 1px solid #252531;
      color: #1a1a1a;
      padding:15px 25px;
      margin-top: 25px;
      font-weight: 600;
      text-transform: capitalize;
       letter-spacing: 0.05em;
      i{
        display: none;
      }
      &:hover {
        background: #1a1a1a;
        border-color: #1a1a1a;
        color: #fff;
        @include pos-transition(300ms);

      }
    }
  }
}
.desc2 {

  .title1 {
        -webkit-animation: fadeInLeft 1500ms ease-in-out;
    -moz-animation: fadeInLeft 1500ms ease-in-out;
    -ms-animation: fadeInLeft 1500ms ease-in-out;
    animation: fadeInLeft 1500ms ease-in-out;
  }
  .title2{
       -webkit-animation: fadeInLeft 1800ms ease-in-out;
    -moz-animation: fadeInLeft 1800ms ease-in-out;
    -ms-animation: fadeInLeft 1800ms ease-in-out;
    animation: fadeInLeft 1800ms ease-in-out;
  }
  .title3{
   -webkit-animation: fadeInLeft 2300ms ease-in-out;
    -moz-animation: fadeInLeft 2200ms ease-in-out;
    -ms-animation: fadeInLeft 2200ms ease-in-out;
    animation: fadeInLeft 2200ms ease-in-out;
  }
  .readmore  {
        -webkit-animation: bounceInDown 2000ms ease-in-out;
    -moz-animation: bounceInDown 2000ms ease-in-out;
    -ms-animation: bounceInDown 2000ms ease-in-out;
    animation: bounceInDown 2000ms ease-in-out;
  }
}


/* end module slideshow */

/* module postabproductslider */
.product-tabs-container-slider {
	ul.tabs_slider {
		margin-bottom:15px;
		position:relative;
		display:inline-block;
		width:100%;
		&:before {
			content: "";
			display: block;
			position: absolute;
			z-index: 1;
			top: 15px;
			left: 0;
			width: 100%;
			border-top: $main_border;
		}
		li {
			display:inline-block;
			position: relative;
			z-index: 2;
			background: $light;
			margin: 0;
			padding: 0 30px 0 15px;
			line-height:30px;
			cursor:pointer;
			color:#999999;
			font {
				size:20px;
				font-weight:600;
			}
			&:before {
				content: "";
				display: block;
				position: absolute;
				top: 13px;
				left: 0;
				width: 7px;
				height: 7px;
				background: #999;
				-webkit-border-radius: 100%;
				-moz-border-radius: 100%;
				-ms-border-radius: 100%;
				-o-border-radius: 100%;
				border-radius: 100%;
			}
			@include pos-transition(300ms);
			&.active,&:hover {
				color:#333;
				@include pos-transition(300ms);
				&:before {
					background:#333333;
				}

			}

		}

	}

}


/* end  postabproductslider*/

/* module tabcateslider */
.tab-category-container-slider {
	ul.tab_cates {
		margin-bottom:15px;
		position:relative;
		display:inline-block;
		width:100%;
		&:before {
			content: "";
			display: block;
			position: absolute;
			z-index: 1;
			top: 15px;
			left: 0;
			width: 100%;
			border-top: $main_border;
		}
		li {
			display:inline-block;
			position: relative;
			z-index: 2;
			background: $light;
			margin: 0;
			padding: 0 30px 0 15px;
			line-height:30px;
			cursor:pointer;
			color:#999999;
			font{
				size:20px;
				font-weight:600;
			}
			&:before {
				content: "";
				display: block;
				position: absolute;
				top: 13px;
				left: 0;
				width: 7px;
				height: 7px;
				background: #999;
				-webkit-border-radius: 100%;
				-moz-border-radius: 100%;
				-ms-border-radius: 100%;
				-o-border-radius: 100%;
				border-radius: 100%;
			}
			@include pos-transition(300ms);
			&.active,&:hover {
				color:#333;
				@include pos-transition(300ms);
				&:before {
					background:#333333;
				}

			}

		}

	}
}
/* end module tabcateslider */
/* module featured-products */
	.pos-featured-products  {
		.owl-carousel.owl-drag .owl-item {
			padding:0 15px;
		}
		.js-product-miniature {
			border:none;
			border-bottom:$main_border;
			padding:0;
			margin-bottom:15px;
			&:last-child {
				margin:0;
				border:none;
			}
			 .product_desc {
				padding: 8px 0;
				padding-right: 65px;
				position:relative;
				overflow:visible;
				.product_name {
					font-size:12px;
					text-transform:uppercase;
					font-weight:600;
					height: 47px;
					line-height: 15px;
				}
				.product-flag-feature  {
					.new,
					.on-sale,.pack{
						position: absolute;
						top: -29px !important;
						right: 3px;
						z-index: 1;
						display: block;
						width: 60px;
						height: 60px;
						line-height: 60px;
						text-align: center;
						font-size: 17px;
						font-weight: 700;
						color:$light;
						background: #407ac5;
						-webkit-border-radius: 100%;
						-moz-border-radius: 100%;
						-ms-border-radius: 100%;
						-o-border-radius: 100%;
						border-radius: 100%;
					}
					.discount ,.on-sale{
						display:none;
					}
				}
				.product-price-and-shipping-feature {
					.discount-percentage {
						position: absolute;
						top: -29px !important;
						right: 3px;
						z-index: 3;
						padding-top: 6px;
						display: block;
						width: 60px;
						height: 60px;
						line-height: 18px;
						text-align: center;
						font-size: 11px;
						font-weight: 700;
						text-transform:uppercase;
						color: white;
						background: #333333;
						-webkit-border-radius: 100%;
						-moz-border-radius: 100%;
						-ms-border-radius: 100%;
						-o-border-radius: 100%;
						border-radius: 100%;
						span {
							display:block;
							font-size:20px;
						}
					}
				}
			}
		}
	}
/* end module featured-products */

/* module special-products */
.pos-special-products  {
	.js-product-miniature {
		border:none;
		.product_desc {
			border:$main_border;
			padding:0;
			 .product_name {
				height: auto;
				display: block;
				font-size: 20px;
				line-height: 24px;
				color: #666666;
				font-weight:400;
				margin-bottom:15px;
			}
			.desc-inner {
				padding:20px 25px;
				.price-box {
					margin-top:15px;
					border-top:$main_border;
					padding-top:28px;
					display:inline-block;
					width:100%;
				}
			}
			.cart {
				float:right;
				button.ajax_add_to_cart_button, span.ajax_add_to_cart_button {
					margin-top: 0;
					font-size: 14px;
					font-weight: 600;
					background:$main;
					color:$light;
					border:none;
					line-height: 40px;
					height: 40px;
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					-ms-border-radius: 3px;
					-o-border-radius: 3px;
					border-radius: 3px;
					&:hover {
					    background: #366c0a;
					}
				}
			}
			.product-price-and-shipping {
				overflow:hidden;
				.regular-price {
				    font-size: 18px;
					color: #999;
				}
				.price {
				    font-size: 24px;
					font-weight: 600;
					color: #333333;
				}
			}
		}
	}
}
/* countdown */
.is-countdown {
	display:inline-block;
	width:100%;
	position:relative;
	.countdown-section {
		display: inline-block;
		text-align: center;
		background: #f6f6f6;
		padding:10px 0;
		border-bottom:$main_border;
		border-right:$main_border;
		&:last-child {
			border-right:none;
		}
		.countdown-amount {
			display: block;
			font-size: 30px;
			@media (max-width: 1199px) {
				font-size:20px;
			}
			line-height: 30px;
			color: #d4232b;
			font-weight: 500;
			position:relative;
		}
		.countdown-period {
		    display: block;
			font-size: 13px;
			line-height: 15px;
			color: #333;
			text-transform:capitalize;

		}
	}
}
	.countdown-show1 .countdown-section {
		width: 100%;
	}
	.countdown-show2 .countdown-section {
		width: 50%;
	}
	.countdown-show3 .countdown-section {
		width: 33.33%;
	}
	.countdown-show4 .countdown-section {
		width: 25%;
	}
	#product .countdown-show4 .countdown-section{width: auto;}
	.countdown-show5 .countdown-section {
		width: 19.5%;
	}
	.countdown-show6 .countdown-section {
		width: 16.25%;
	}
	.countdown-show7 .countdown-section {
		width: 14%;
	}

/* end countdown */
/* end module special-products */

/* module list-categories */
.poslistcategories {
	position:relative;
	.owl-carousel .owl-item {
		padding:0 15px;
	}
	.list-categories {
		position:relative;
		display:inline-block;
		border-top: 4px solid #59b210;
		width:100%;
		margin-top:15px;
		margin-bottom:15px;
		&:last-child {
			margin-bottom:0;
		}
		&:hover {
			.thumb-category {
				border-color:$main;
			}
			.name_categories {
			    color: #59b210;
				-webkit-transform: translateY(15px);
				-moz-transform: translateY(15px);
				-ms-transform: translateY(15px);
				-o-transform: translateY(15px);
				transform: translateY(15px);
				@include pos-transition(300ms);
			}
		}
		.name_categories {
			margin: 20px 0;
			font-size: 16px;
			line-height: 24px;
			font-weight: 400;
			color: #666;
			text-transform: uppercase;
			@include pos-transition(300ms);
		}
		.thumb-category {
			float:left;
			border: $main_border;
			margin-right: 30px;
			@include pos-transition(300ms);
			@media (max-width: 1199px) {
				width:145px;
				margin-right:15px;
			}

		}
		.desc-listcategoreis {
			overflow:hidden;
			.sub {
				a {
				    display: block;
					position: relative;
					padding: 0 5px 0 15px;
					font-size: 12px;
					line-height: 25px;
					color: #666666;
					&:hover {
						color:$main;
						&:before {
							background:$main;
						}
					}
					&:before {
						content: "";
						display: block;
						position: absolute;
						top: 9px;
						left: 0;
						width: 7px;
						height: 7px;
						background: #999;
						-webkit-border-radius: 100%;
						-moz-border-radius: 100%;
						-ms-border-radius: 100%;
						-o-border-radius: 100%;
						border-radius: 100%;
						@include pos-transition(300ms);
					}
				}
			}
			.see-more a {
				display: block;
				float: left;
				clear: both;
				margin-top: 20px;
				padding: 0 15px;
				background: #333333;
				color: $light;
				line-height: 25px;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 700;
				&:hover {
					background:$main;
				}
			}
		}
	}
}

/* end module list-categories */

/* blog */
.home_blog_post_area {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-left: 3.9%;
    padding-right: 3.9%;

    .boxiner{
      background: #f7f7f7;
      padding: 100px 0 95px;
    }
	.owl-carousel .owl-item {
		padding:0 15px;
	}
	.pos_content {
		padding: 0;
		border: 0;
	}
  .pos_title {
      h2{
      background: #f7f7f7;
    }
  }
	.owl-nav {
		right: 15px;
		top: -46px;
	}
  .post_content{
        position: relative;
        text-align: left;
        background: #fff;
  }
	.blog_slider .item{
		.blog_post {
			display:inline-block;
			width:100%;
			background:$light;
			text-align:center;
			img{
				width: 100%;
			}
			.date-smart {
        font-size: 14px;
        line-height: 20px;
        color: #808080;
        display: inline-block;
         @media (min-width: 480px) and (max-width: 555px) {
          floatl:none !important;
          float: left !important;
         }
			}
			.content-inner {
				overflow:hidden;
         padding: 50px 30px 30px;
			}
      .links-bottom{
        letter-spacing: .05em;
        margin-bottom: 3px;
        border-top: 1px solid #e5e5e5;
        padding:30px;
        line-height: 18px;
      }
			.post_title {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 700;
        position: relative;
        padding-bottom: 15px;
        display: inline-block;
        color: #1a1a1a;
        position: relative;
        letter-spacing: 0.05em;
        &:after{
          position: absolute;
          bottom: 0;
          left: 0;
          background: #d1d1d1;
          content: "";
          width: 44px;
          height: 1px;
        }
				&:hover {
					color:#808080;
				}
			}
			.post_meta{
				overflow: hidden;
				span{
					color:#666666;
					font-size: 13px;
					line-height: 25px;
					text-transform:capitalize;
					display:inline-block;
					margin-right:20px;
					&:last-child {
						margin:0;
					}
				}
			}
			.post_description{
        line-height: 24px;
        letter-spacing: .025em;
        padding: 25px 0 0;
        color: #808080;
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.05em;
			}
			a.read-more {
        color: #808080;
        font-weight:normal;
        font-size: 14px;
        text-transform: capitalize;
         letter-spacing: 0.05em;
        @media (min-width: 480px) and (max-width: 555px) {
          width:100%;
          display: inline-block;
        }
				&:hover {
					color:#1a1a1a;
				}
			}
		}
	}
}
.home_blog_post_area .home_blog_post .blog_post .post_thumbnail {
    position: relative;
	margin-bottom:0px;
	overflow:hidden;
}
.home_blog_post_area .home_blog_post .blog_post .post_thumbnail .blog_mask {
    opacity: 0;
    visibility: hidden;
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-color: rgba(0,0,0,0.4);
}
.home_blog_post_area .home_blog_post .blog_post .post_thumbnail .blog_mask .blog_mask_content {
    position: absolute;
    left: 110%;
    top: 50%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.home_blog_post_area .home_blog_post .blog_post .post_thumbnail .blog_mask .blog_mask_content a {
    display: block;
    text-align: center;
    font-size: 70px;
    color: #fff;
	display:none;
}
.home_blog_post_area .home_blog_post .blog_post .post_thumbnail:hover .blog_mask {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.home_blog_post_area .home_blog_post .blog_post .post_thumbnail:hover .blog_mask .blog_mask_content {
    left: 50%;
}
/* end blog */

/* module logo */
.pos_logo  {
	position:relative;
	margin-bottom:50px;
  margin-top: 45px;
	.owl-stage-outer {
		padding-bottom:1px;
	}
	.owl-carousel.owl-drag .owl-item {
		padding:0 15px;
	}
	.item-banklogo {
		overflow:hidden;
	}
  .owl-nav > div{
    top: 80%;
    width: 40px;
    height: 40px;
    line-height: 38px;
  }
}

/* end module logo */

/* module newletter */

.ft_newsletter {
  position:relative;

  .desc{
      color: $light;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    display:block;
  }
  form{
    position: relative;
    overflow: hidden;
    @media ( max-width:991px) {
      margin-top:20px;
    }
    .input_txt{
      text-align: left;
      background: transparent;
      border: 1px solid #e0e0e0;
      color: #b9b9b9;
      display: block;
      padding: 0 20px;
      height: 50px;
      width: 100%;
      float: left;
      margin: 0;
    }
    .btn{
       position: relative;
       margin-top: 20px;
       border:1px solid #1a1a1a;
       color: #fff;
       text-transform: uppercase;
       font-size: 14px;
       font-weight: 600;
       letter-spacing: 0.05em;
       padding: 0 30px;
       line-height: 48px;
      @include pos-transition(300ms);
      &:hover {
        background: #fff;
        border-color:#1a1a1a;
        color: #1a1a1a;
        @include pos-transition(300ms);
      }
    }
    .condition, .alert{
      margin: 10px 0 0;
      font-size: 12px;
      line-height: 24px;
      color: #bcbcbc;
      background: none;
      border: 0;
      padding: 0;
      &.alert-danger{
        color: $main;
      }
      &.alert-success{
        color: $main;
      }
    }
  }
  .block_content{
    p.newletter-header{
      margin-top: 40px !important;
      font-size: 14px;
      color: #808080;
      letter-spacing: 0.05em;
      margin-bottom: 30px;
      .alert-danger{
        margin-top: 10px;
      }
    }
  }

}
.product-price{
  color: #989898;
}
/* end module newletter */
.social_follow {
	position:relative;
	@media (max-width: 991px) {
		margin-bottom:20px;
	}
	li {
		display:inline-block;
		margin: 5px 10px 0 0;
		line-height:40px;
		background-image:none !important;
		padding:0;
		a {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			color: $light;
			background:#393939;
			border-radius:100%;
			font-size: 0;
			padding: 0;
			line-height: 40px;
			width:40px;
			height:40px;
			text-align:center;
			border: 0;
			z-index: 1;
			@include pos-transition(300ms);
			&:before {
				padding:0 !important;
				font-size:16px;
				display: inline-block;
				font-family: $font-icon;
				font-weight: normal;
				vertical-align:middle;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				@include pos-transition(300ms);
			}
			&:hover {
				&:before {
					 -webkit-transform: scale(1.3);
					-moz-transform: scale(1.3);
					-ms-transform: scale(1.3);
					-o-transform: scale(1.3);
					transform: scale(1.3);
					@include pos-transition(300ms);
				}
				color:$light;
				@include pos-transition(300ms);
			}

		}
		&.facebook {
			a {
				background:#3a599c;
				&:before {
					content: "\f09a";
				}
			}
		}
		&.twitter {
			a {
				background:#5a8eca;
				&:before {
					content: "\f099";
				}
			}
		}
		&.rss {
			a {
				background:#FF9900;
				&:before {
					content: "\f09e";
				}
			}
		}
		&.youtube {
			a {
				background:#E22D26;
				&:before {
					content: "\f167";
				}
			}
		}
		&.googleplus {
			a {
				background:#ce3527;
				&:before {
					content: "\f0d5";
				}
			}
		}
		&.pinterest {
			a {
				background:#FCF4F4;
				&:before {
					content: "\f0d2";
				}
			}
		}
		&.vimeo {
			a {
				background:#6D416D;
				&:before {
					content: "\f194";
				}
			}
		}
		&.instagram {
			a {
				background:#DCD2BF;
				&:before {
					content: "\f16d";
				}
			}
		}
	}
}
/* end module social */

/* module advertising */
.advertising {
	position: relative;
    margin-bottom: 30px;
    text-align: center;
	overflow:hidden;
	a {
		img {
			width: 100%;
			height:auto;
		}
		&:before {
			background: rgba(255, 255, 255, 0.2);
			bottom: 0;
			content: "";
			left: 50%;
			position: absolute;
			right: 51%;
			top: 0;
			opacity: 1;


		}
		&:after {
			    background: rgba(255, 255, 255, 0.2);
				bottom: 50%;
				content: "";
				left: 0;
				position: absolute;
				right: 0;
				top: 50%;
				opacity: 1;

		}
	}
	&:hover a:before{
			left: 0;
			right: 0;
			opacity: 0;
			@include pos-transition(900ms);
		}
	&:hover  a:after{
		top: 0;
		bottom: 0;
		opacity: 0;
		@include pos-transition(900ms);
	}
}
/* end module advertising */
/* module tags */
	.tags_block {
		@media ( min-width:768px) {
		border-top: 1px solid #e1e1e1;
		padding:30px 0 0 0;
		}
		h3 {
		    font-size: 13px;
			line-height: 24px;
			font-weight: 700;
			color: #3b3b3b;
			margin: 0 0 15px 0;
			text-transform: uppercase;
		}
		a {
		    display: block;
			float: left;
			padding:0 15px;
			border-right: 1px solid #e1e1e1;
			font-size: 12px;
			line-height: 15px;
			color: #666;
			&:first-child {
				padding-left:0;
			}
			&:hover {
				color:$main;
			}
		}
	}
/* end module tags */

@media (max-width:1199px) {
  #header .header-nav {
    padding-left: 10px;
    padding-right: 10px;
  }
  .pt_custommenu .pt_menu .parentMenu a{
    padding: 0 15px;
  }
}

@media (max-width:991px) {
  #header .header-nav{
    margin-bottom: 0px;
  }
  .nav-container{
    display: none;
  }
  #header .header_logo a .logo{
    float: none;
  }
  .col-right{
    text-align: center;
    float: none;
    margin-top:25px;
    display: inline-block;
  }
}