  .item-product {
    background: white;
    padding: 20px 15px;
    margin: 20px 0;
    @media ( max-width:991px) {
      padding: 20px 10px;
    }
    .product-miniature {
      display: flex;
      flex-direction: column;
      background: #eef0f2;
      .add-to-cart {
        margin: 5px;
      }
      .quantityDisp {
        display: inline-block;
        border: 2px solid green;
        width: 2.5rem;
        height: 2.5rem;
        padding: 10px;
        margin: 5px;
        border-radius: 50%;
      }
    }
  }

  .image-container {
    text-align: center;
    .selected {
      max-width: 70%;
      max-height: 400px;
      padding: 5px;
      @media (max-width: 991px) {
        max-width: 80%;
      }
      @media (max-width: 767px) {
        max-width: 40%;
      }
    }
  }
