  .item-product {
    background: white;
    padding: 10px 50px;
    margin: 20px 0;
    .product-miniature {
      display: flex;
      flex-direction: column;
      background: #eef0f2;
      .add-to-cart {
        margin: 5px;
      }
      .quantityDisp {
        display: inline-block;
        border: 2px solid green;
        width: 2.5rem;
        height: 2.5rem;
        padding: 10px;
        margin: 5px;
        border-radius: 50%;
      }
    }
  }
