.button-container {
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    border-top: 1px solid rgba(26, 26, 26, 0.5);
    border-left: 1px solid rgba(26, 26, 26, 0.5);
}