.carousel-button-prev,
.carousel-button-next {
    position: absolute;
    background-color: rgb(158, 158, 158);
    width: fit-content;
    padding: 0.5% 1.3%;
    border-radius: 50%;
    z-index: 2;
    opacity: 0.3;
    color: white;
    top: 40%;
    padding: 1% 1.5%;
    span {
        font-size: 2em;
    }
}

.carousel-button-prev {
    left: 2%;
}

.carousel-button-next {
    right: 2%;
}

@-moz-document url-prefix() {
    .carousel-button-next,.carousel-button-prev {
        top: 40%;
    }
}

.carousel-image {
    max-width: 100vw;
    max-height: 65vh;
    margin: 0 auto;
}