.homepage {
  .content {
    .t-second-header {
      text-align: center;
    }
  }
  @media (max-width: 768px) {
    .hidden-sm {
      display: none;
    }
  }
}



.homepage-container {
  padding: 5%;
  .info.desc1 {
    width: 100%;
    background-color: #eef7fa;
    padding: 4%;
    position: relative;
    top: 0%;
    margin-top: 100px;
  }

  .home_page_content {

  }

  @media (max-width: 768px) {
    .home_page_content {
    }
  }
  .img_block {
    display: flex;
    justify-content: center;
  }
  .advantage {

    width: 100%;
    img {
      width: 230px;
    }
    .text {
      padding-top: 20px;
      padding-left: 60px;
      h2 {
        span {
          font-size: 28px;
          color: #1a1a1a;
        }
      }
      h3 {
        color: gray;
        font-weight: 300;
        letter-spacing: .05em;
      }
      a {
        &.shop {
          padding: 13px 20px;
          border: 1px solid #1a1a1a;
          font-size: 18px;
          color: #1a1a1a;
          text-transform: capitalize;
          margin-top: 30px;
          display: inline-block;
          letter-spacing: .05em;
        }
      }
    }
    article {
      box-shadow: none;
    }
    @media (max-width: 992px) {
      .offered-img {
        display: none;
      }
    }
  }
}

.product-item {
  .container {
    .row {
      justify-content: left;
    }
  }
  @media (max-width: 768px) {
    .hidden-sm {
      display: none;
    }
  }
  .item-info {
    text-align: left;
    @media (max-width: 577px) {
      padding: 0 35px;
    }
  }
}
.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-right: 20px;
  @media (max-width: 768px) {
    margin-bottom: 10px;
    flex-direction: column;
  }
}

.load-center {
  text-align: center;
  position: relative;
  top: 50%;
  height: 80vh;
}
.btn-cart-update {
  a {
    font-size: 18px;
    display: inline-block;
    border: 1px solid #252531;
    color: #1a1a1a !important;
    background: #FFF;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: .05em;
    &:hover {
      color: #fff !important;
      background: #1a1a1a;
    }
  }
}

.checkout-content {
  margin:2px;
  .checkout-info-container {
    box-shadow: 1px 1px 10px #ccc;
    padding: 20px;
    margin-bottom: 10px;
  }
  .content {
    padding: 0 2.313rem;
    label {
      text-align: left !important;
    }
    .ship-comment {
      textarea {
        max-width: 600px;
      }
    }
  }
}
