   .active-link {
        border-bottom: 2px solid rgba(245, 124, 0, 1) !important;
        color: rgb(245, 124, 0) !important;
    }
#sidebar-menu-button {
    cursor: pointer;
    &:focus+#side-bar {
        left: 0vw !important;
    }
}
