/* custom */
$main: #808080;
$dark: #333333;
$light:#ffffff;
$main_border:1px solid #e5e5e5;

@mixin placeholder {
  &::-moz-placeholder { @content }
  &::-webkit-input-placeholder { @content }
  &:-ms-input-placeholder { @content }
}
  input:focus, button:focus, select:focus, textarea:focus {
  text-decoration: none !important;
  box-shadow: none !important;
  outline:0 !important;
}
a {
  &:hover, &:focus {
    outline: 0 !important;
    box-shadow: none !important;
   text-decoration: none;
  }
}
.btn-default, .btn {
  &:hover, &:focus, &:active, &.active {
    outline: 0 !important;
    text-decoration: none !important;
    box-shadow: none !important;
  }
}
.btn-secondary, .btn-primary{
    color:$light;
    background-color:#333333;
    border-color: transparent;
	box-shadow:none;
}
.btn-secondary:hover, .btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
    color: $light;
    background-color: $main;
    border-color: transparent;
}
a {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: none;
}
button {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

* {
	&:focus {
		outline:none !important;
	}
}
img {
	max-width:100%;
	margin:auto;
	height:auto;
}
ol, ul, dl {
    margin: 0;
	padding:0;
}
ul {
  li {
    list-style-type: none;
  }
}
i, cite, em, var, address, dfn {
    font-style: normal;
}
 h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin:0;
	padding:0;
}
body{
	font-family: 'Nunito Sans', sans-serif;
	font-size:13px;
	background:$light;
}
@media (min-width:1200px) {
	.container-fluid {
		padding-left:80px;
		padding-right:80px;
	}
	.container {
		max-width: 1170px;
		padding-left:0;
		padding-right:0;
	}
}
.container {
	width:auto;
}
main {
	overflow:hidden;
}
#header {
	@media(max-width: 767px){
		text-align:center;
		background:transparent;
	}
	.header_logo  {
		a{
			.logo{
				float: left;
        padding: 6px 0;
			}
		}
	}
}
.pt_custommenu {
    position: relative;
    text-align: center;
		display: inline-block;
		font-size: 1.5em;
		.parentMenu a {
    display: block;
    line-height: 50px;
    padding: 0px 25px;
    font-weight: 400;
    color: #000;
    background: transparent;
    text-transform: capitalize;
    position: relative;
		letter-spacing: 0.05em;
}
		&.act .parentMenu a,&.active .parentMenu a {
			color:#1a1a1a !important;
		}
}
.pt_custommenu_mobile {
    text-align: left;
    position: relative;
    justify-content: space-between;
    align-items: center;
	.navbar {
		min-height:40px;
		margin: 0;
		border: 0;
		position: relative;
		overflow: hidden;
		background: #333333;
		padding: 0 15px;
		overflow: hidden;
		cursor:pointer;
		.navbar-inner .btn-navbar {
			display: block;
			overflow: hidden;
			margin: 0;
			color: #fff;
			font-size: 16px;
			font-weight: 600;
			letter-spacing: 0.025em;
			text-transform: uppercase;
			line-height: 40px;
			pointer-events: none;
			&:after {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				width: 40px;
				height: 40px;
				text-align: center;
				color: #fff;
				font-size: 15px;
				font-weight: 400;
				cursor:pointer;
				pointer-events: all;
			}
		}
		.navbar-inner.navbar-inactive .btn-navbar:after {
			content: "\f03a";
		}
		.navbar-inner.navbar-active .btn-navbar:after {
			content: "\f03a";
		}
	}
	@media (min-width: 992px) {
		display: none;
	}
}
@media (max-width:1199px) {
  #header .header-nav {
    padding-left: 10px;
    padding-right: 10px;
  }
  .pt_custommenu .pt_menu .parentMenu a{
    padding: 0 15px;
  }
}
@media (max-width:991px) {
  #header .header-nav{
    margin-bottom: 0px;
  }
  .nav-container{
    display: none;
  }
  #header .header_logo a .logo{
    float: none;
  }
  .col-right{
    text-align: center;
    float: none;
    display: inline-block;
  }
}