.pt_custommenu {
    position: relative;
    text-align: center;
    display: inline-block;
    font-size: 1.5em;
}

.pt_custommenu_mobile {
    text-align: left;
    position: relative;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 992px) {
        display: none;
    }
}

@media (max-width:1199px) {
    #header {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width:991px) {
    #header {
        margin-bottom: 0px;
    }
    .nav-container {
        display: none;
    }
    #header .header_logo a .logo {
        float: none;
    }
    .col-right {
        text-align: center;
        float: none;
        display: inline-block;
    }
}

.nav-left-items {
    float: left;
    a {
        font-size: 18px !important;
        color: #000;
        font-weight: bold;
    }
}

.nav-right-items {
    float: right;
    a {
        font-size: 18px !important;
        color: #000 !important;
        font-weight: bold;
    }
}