#header {
    box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#interest-dropdown {
    text-transform: uppercase;
    font-size: 0.7em !important;
    margin-left: 0;
    line-height: 50px;
    padding: 0px 25px;
    font-weight: 400;
    letter-spacing: 0.05em;
    float: right;
    top: 0;
    cursor: pointer;
    .dropdown-menu {
        display: none;
        line-height: 0.5em;
        box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.5);
        .dropdown-item {
            text-transform: uppercase;
            font-size: 1em;
            letter-spacing: 0.05em;
            font-weight: 400;
            color: black;
            text-decoration: none;
            white-space: nowrap;
            &:hover {
                color: rgb(245, 124, 0);
            }
        }
    }
    &:hover {
        i {
            color: rgb(245, 124, 0) !important;
        }
        background-color: transparent !important;
        color: rgb(245, 124, 0) !important;
    }
}