#interest-dropdown {
    .dropdown-item {
        color: black;
        text-decoration: none;
        white-space: nowrap;
        letter-spacing: 0.05em;
        &:hover {
            color: rgb(245, 124, 0);
        }
    }
    &:hover {
        color: rgb(245, 124, 0) !important;
    }
}