.icon {
    width: 15px;
    height: 15px;
}

.demo-product-card-details {
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card-footer-button {
    cursor: pointer;
    border-left: 1px solid rgba(26, 26, 26, 0.5);
}